* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: linear-gradient(black, black), url(background.jpg);
  background-size: cover;
  background-blend-mode: saturation;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 20px;
  width: 80%;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input,
button {
  margin: 10px 5px;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  transition: all 0.5s;
  outline: 0;
}

.name {
  display: flex;
}

#firstName,
#lastName {
  width: 45%;
}

#placeHolder {
  display: none;
  margin: 20px 0;
}

.info {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

#bottom {
  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  #root {
    flex-direction: column;
    transform: scale(1.7);
  }

  .container {
    flex-direction: row;
    width: auto;
    padding: 30px 60px;
  }

  #firstName,
  #lastName {
    width: 100%;
  }

  #placeHolder {
    margin: 0;
    margin-right: 50px;
  }

  input {
    padding: 5px 5px;
  }

  button:hover {
    transform: scale(1.1);
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
  }

  form,
  .info {
    width: 100%;
    margin: 0;
  }
}

@media print {
  body {
    width: 1094px;
    height: 1275px;
  }

  #root {
    transform: scale(2);
  }

  button {
    display: none;
  }
}
